{% extends "base.html" %}
{% block content %}
  <div>
      <h1><strong>Author Details:</strong></h1>
  <p><strong>First Name: </strong> {{ author.first_name }}</p>
  <p><strong>Last Name: </strong>{{ author.last_name }}</p>
  <p><strong>Date of Birth: </strong> {{ author.date_of_birth }}</p>
  <p><strong>Date of Death: </strong> {{ author.date_of_death }}</p>

  </div>
  <div>
  <h1><strong>Books:</strong></h1>
  {% for book in author.book_set.all %}
        <li>
            <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
        </li>
  {% endfor %}
  </div>
{% endblock %}